{%extends 'base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if users%}
      <h3>you have {{ users|length}} for your search {{message}}</h3>
    {% else %}
      <h3> you have  0 users for your search {{message}}</h3>
    {% endif %}

  </div>

  <div class="row">

  {% if users %}
    {% for user in users %}
      <div class="col-sm-6 col-md-3">
        <h3 style="color:rgb(41, 39, 39)"><strong>user's profile</strong>{{user.user.username}}</h3>
      </div>
      
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}