{%extends 'base.html'%}
{% block content %}

    
    <div class="container" >
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                {% if users%}
                <h5 class='text-center'>You have {{ users|length }} user with username {{ users | pluralize }}</h2>
                    {% else %}
                    <h5 class="text-center"> You have 0 user with username search <strong>{{message}}</strong></h5>
                    <a class="d-block mx-auto" href="/">
                        <button class="btn btn-sm btn-outline-info d-block mx-auto">Back Home</button>
                    </a>
                    {% endif %}
                    <hr style="background-color:rgb(80, 76, 76);margin-left:5%;margin-right:12%">
                    {% if users %}
                    {% for user in users %}
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="{{user.profile_photo.url}}" alt=""
                                    class="img-responsive" style="vertical-align: middle; width: 80px; height: 60px;border-radius: 20%;">
                            </div>
                            <div class="col-md-6 mt-2">
                           <span><strong>{{user.user.username}}</strong></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                           <span><a class="btn btn-sm btn-outline-info"  href="{% url 'othersprofile' user.user.id %}">Profile</a></span>
                            </div>
                        </div>
                    </div>
                    
                    {% endfor %}
                    {% endif %}
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>
{% endblock %}





