{% load bootstrap4 %}
{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Upload</title>
  {{form.media}}

  {% block styles %}
  {% bootstrap_css %}
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap" rel="stylesheet">
  {% endblock %}

</head>

<body style="background-color: black;color:white;">
  <div class="container">
    <h4 style="text-align: center;margin-top:30px;font-family: 'Jacques Francois', serif;">Upload image and add a caption</h4>
    <div class="row" style="margin-top:50px">
      <div class="col-md-6">
        <img src="https://images.unsplash.com/photo-1517605817225-1a38c494d974?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTh8fGluc3RhZ3JhbSUyMHBvc3R8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="image" height="450px" width="400px">
      </div>
      <div class="col-md-6" style="font-family: 'Open Sans Condensed', sans-serif;">
        <form action="{%url 'upload' %}" method="post" enctype="multipart/form-data">
          {%csrf_token%}

          {% bootstrap_form form%}
          <input type="submit" class="btn btn-outline-info btn-sm" value="Post">
        </form>

        {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        {% bootstrap_javascript %} {% endblock %}
      </div>
    </div>
  </div>
</body>

</html>