{%extends 'base.html'%}

{% block content %}
{{block.super}}

<div class="container">
    <h1 style="text-align: center;font-family: 'Redressed', cursive;font-size:89;margin-top: -1cm">Instagram</h1>
   
    {% for images in all_images %}
    <div class="card" style="width: 32rem; margin-top: 5%; margin-left:28%;color:black; ">
        {% if images.profile%}
        <span style="margin-bottom: 3%;"><img src="{{images.profile.profile_photo.url}}" class="img-responsive ifoto" style="margin-right: 5%; margin-left: 3%; margin-top: 3%; vertical-align: middle; width: 80px; height: 60px;border-radius: 20%;">
            <a href="{% url 'othersprofile' images.user.id %}" style="color: black;text-transform:capitalize;">{{images.user}} </a>&nbsp;&nbsp;<a href="{% url 'othersprofile' images.user.id %}" style="color: black;"><strong><small>Follow</small></strong> </a></span>
        {% endif %}

        <img src="{{images.image.url}}" height="500px" class="img-responsive" alt="Image" data-toggle="modal"
            data-target="#{{images.id}}">
        <div class="card-body" style="font-family: 'JetBrains Mono', monospace;">
            <span> <strong>{{images.image_caption}} </strong> </span>
           <span style="font-family: 'JetBrains Mono', monospace;margin-left:5%"> <a href="{% url 'like' images.id%}">
                <strong style="margin-left:5%;color:black;">{{images.likes}} <i class="fa fa-heart-o"></i></strong></a></span>&nbsp;


            <a href="{%url 'comment' images.id%}" style="font-family: 'JetBrains Mono', monospace;color:color;"><i class="fa fa-comment-o" style="color: black;"></i></a><br><br>

            <p><strong>view comments</strong></p>

            {% for comments in images.comments_set.all %}
           
            <span>
                <p><strong style="margin-right: 2%;color:black;">{{comments.posted_by.user }}</strong>{{comments.comment}}</p>
            </span>
            {% endfor %}
            <hr>

            <h5 style="font-family: 'JetBrains Mono', monospace;color:black;"> <small>{{images.date|timesince}}</small>
            </h5>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}