{%extends "registration/base.html"%}
{% load bootstrap4 %}
{% block content %}

<div class="container">



  <h2 class="text-center" style="margin-top: 5%;font-family: 'Jacques Francois', serif;">Sign In</h2>
  <div class="row" style="margin-top:50px">
    <div class="col-md-6">
      <img src="https://images.unsplash.com/photo-1595039838779-f3780873afdd?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8aW5zdGFncmFtfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="image" height="450px" width="400px">
 
    </div>
    <div class="col-md-6" style="font-family: 'Federo', sans-serif;">
      <p class="text-center" style="margin-top: 7%;">Don't have an account?? <a id="sign" href="/accounts/register/"
          style="color: white;"> Sign up here</a></p>

      <form action="/accounts/login/" method="post">
        {% csrf_token %}
        {% bootstrap_form form%}
        <div class="form-group">
          <input type="submit" class="btn btn-outline-info btn-sm" value="Login">
        </div>
        <input type="hidden" name="next" value="{{next}}">
      </form>
      {% if form.errors %}
      <p> Please enter valid username or password </p>

      {% endif %}

    </div>
  </div>

</div>
{% endblock %}