{%extends "registration/base.html"%}
{% load bootstrap4 %}
{% block content %}

<div class="container-fluid"
  style="background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url('https://res.cloudinary.com/moringari/image/upload/c_crop,h_500,q_60,x_92,y_155/a_0/v1609951599/insta_cna0rq.jpg') ;background-repeat:no-repeat;background-size:cover;background-position:center center;height:100vh;color:white;margin-top:-61;">


  <h2 class="text-center" style="margin-top: 5%;">Sign In</h2>
  <p class="text-center" style="margin-top: 7%;">Don't have an account?? <a id="sign" href="/accounts/register/"
      style="color: white;"> Sign up</a></p>
  <div class="row" style="margin-left:500px">
    <form action="/accounts/login/" method="post">
      {% csrf_token %}
      {% bootstrap_form form%}
      <div class="form-group">
        <input type="submit" class="btn btn-outline-success btn-sm" value="Login">
      </div>
      <input type="hidden" name="next" value="{{next}}">
    </form>
    {% if form.errors %}
    <p> Please enter valid username or password </p>

    {% endif %}


  </div>

</div>
  {% endblock %}